@import url("https://fonts.googleapis.com/css2?family=Lato&family=Nova+Mono&display=swap");

body {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    word-wrap: break-word !important;
    overflow: auto;
    background: url("../../src/img/background2.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Lato", sans-serif;
    color: #265B66;
}


h1,
h2 {
    font-family: "Nova Mono", monospace;
}

hr {
    border: 1px dashed rgba(255, 255, 255, 0.25);
}

.profileCard {
    background-color: rgba(165, 255, 184, 0.25);
    border-radius: 4px;
    position: relative;
    padding: 50px;
    margin: 75px 35% 75px 35%;
    transition: 0.5s;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 100px rgba(38, 91, 102, 0.5);
    border: solid black 1px;
}

.profileImage {
    height: 200px;
    margin: auto;
    display: block;
    border-radius: 5px 5px 2px 2px;
    border: solid black 1px;
    transition: 0.5s;
}

.profileName {
    padding: 0;
    margin: 25px 0 0 0;
    text-align: center;
}

.profileInfo {
    padding: 0;
    margin: 0 0 25px 0;
    text-align: center;
    font-style: italic;
    font-size: 15px;
}

.bio {
    text-align: center;
}

.socials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    width: 100%;
}

.linkButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.25);
    text-decoration: none;
    color: #265B66;
    transition: 0.5s;
    border: solid black 1px;
}

.linkButtons i {
    padding-right: 10px;
}

.linkButtons:hover {
    border: solid #61c3d6 1px;
    border-radius: 5px;
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.5);
    color: #61c3d6;
}

@media (max-width: 1250px) {
    .profileCard {
        padding: 25px;
        margin: 75px 15% 75px 15%;
        transition: 0.5s;
    }
}

footer {
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(165, 255, 184, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 100px rgba(38, 91, 102, 0.5);
    border: solid black 1px;
}